* {
  font-family: Roboto;
}

#hero {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-bg {
  background-color: #25B1FF;
}

.container {
  padding-left: 100px;
  padding-right: 100px;

  box-sizing: border-box;
}

.hero-item {
  flex-grow: 1;
  flex-basis: 0;

  text-align: center;
}

#hero-title {
  font-size: 48px;
  line-height: 70px;
  color: #FFFFFF;
  padding: 20px;
}

button {
  background: #FFA724;
  border-radius: 45.5px;
  border: none;
  font-size: 28px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 100px;
  padding-right: 100px;
}


img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  padding-top: 50px;
}

p {
  font-size: 20px;
  line-height: 40px;
}
